/* CSS for header */
header {
    background-color: #333; /* Choose your desired background color */
    color: #fff; /* Text color */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}



/* CSS for footer */
footer {
    background-color: #333; /* Choose your desired background color */
    color: #fff; /* Text color */
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup h2 {
    margin-bottom: 20px;
}
